:root {
  --primary-color: #333;
  --secondary-color: #ddd;
  --bg-color: #f5f5f5;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-hover-bg-color: #121111;
  --button-hover-shadow-color: rgb(176, 220, 221);
  --button-hover-box-shadow: 0 0 1rem var(--button-hover-shadow-color);

  --box-shadow: 0 0 0.6rem var(--shadow-color);
  --margin-bottom: 1rem;
  --border-radius: 0.8rem;
  --border: 0.1rem solid var(--secondary-color);

  --primary-bg-color: #fff;
  --text-color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1.25rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow);
}

header {
  text-align: center;
}

h1 {
  margin-bottom: 1.2rem;
}

.intro {
  margin-bottom: var(--margin-bottom);
  padding: 1.25rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
}

.intro h2 {
  margin-top: 0;
}

.intro p {
  margin-bottom: 0.6rem;
}

.search-container {
  margin-bottom: var(--margin-bottom);
  padding: 1.25rem;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-bg-color);
}

.search-bar {
  display: flex;
  justify-content: space-between;
}

.username {
  padding: 0.6rem;
  border: var(--border);
  border-radius: var(--border-radius);
  flex: 1;
  margin-right: 0.6rem;
}

#searchButton {
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.5s;
  box-shadow: var(--box-shadow);
}

#searchButton:hover {
  background-color: var(--button-hover-bg-color);
  box-shadow: var(--button-hover-box-shadow);
}

#searchButton:active {
  transform: scale(0.95);
}

.tabs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-bottom);
  align-items: center;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs .tab {
  padding: 0.6rem 1.2rem;
  border: var(--border);
  cursor: pointer;
  border-radius: var(--border-radius);
  margin: 0.3rem 0.3rem;
}

.tabs .tab.active {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-bottom: none;
}

.content {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}

.tab-content {
  display: none;
  padding: 1.25rem;
}

.tab-content.active {
  display: block;
}

#user-details p,
#repositories-list li {
  margin: 0.6rem 0;
}
